* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.topbar {
    background-color: red;
    height: 50px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.menu-apps {
    width: 100%;
    height: 50px;
    background-color: blue;
}
.search-box {
    width: 100%;
    height: 50px;
    background-color: green;
}
.personalization {
    width: 100%;
    height: 50px;
    background-color: yellow;
}
.wrap {
    width: 1600px;
    height: 10000px;
    background-color: #242424;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 50px 70px rgba(0, 0, 0, 0.3);
}
@media (max-width: 1600px) {
    .wrap {
        width: 100%;
    }
}
@media (max-width: 1567px) {
    .wrap {
        width: 1300px;
    }
}
@media (max-width: 1255px) {
    .wrap {
        width: 950px;
    }
}
@media (max-width: 943px) {
    .wrap {
        width: 650px;
    }
}
@media (max-width: 631px) {
    .wrap {
        width: 350px;
    }
}