* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-image: url('background.jpg');
}
.wrap {
    max-width: 1600px;
    height: 1000px;
    background-color: #242424;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 50px 50px rgba(0, 0, 0, 0.5);
}