* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.topbar {
    background-color: red;
    height: 50px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.menu-apps {
    width: 100%;
    height: 50px;
    background-color: blue;
}
.search-box {
    width: 100%;
    height: 50px;
    background-color: green;
}
.personalization {
    width: 100%;
    height: 50px;
    background-color: yellow;
}
.wrap {
    width: 1600px;
    height: 10000px;
    background-color: #242424;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 50px 70px rgba(0, 0, 0, 0.3);
}
.news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.flex-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.news-box {
    width: 300px;
    height: 300px;
}
.bg-brown {
    background-color: brown;
}
.bg-purple {
    background-color: purple;
}
.bg-maroon {
    background-color: maroon;
}
.bg-burlywood {
    background-color: burlywood;
}
.bg-grey {
    background-color: grey;
}
@media (max-width: 1600px) {
    .wrap {
        width: 100%;
    }    
}
@media (max-width: 1567px) {
    .wrap {
        width: 1300px;
    }
    .news {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (max-width: 1255px) {
    .wrap {
        width: 950px;
    }
    .news {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 943px) {
    .wrap {
        width: 650px;
    }
    .news {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 631px) {
    .wrap {
        width: 350px;
    }
    .news {
        grid-template-columns: 1fr;
    }
}